body {
  background: #eee !important;
}

.login-container, .fund-request-container {
  margin: 100px auto;
}

.fund-request-container {
  padding: 20px !important;
}

.loader {
  top :250px;
  left: 50%;
  z-index: 99999;
}

.modal-overlay {
  z-index: 1002;
  display: block;
  opacity: 0.6;
  background: #eee;
}

.app-bar {
  background: #2BBBAD;
}

.logo {
    margin: 6px;
}

.side-menu {
  background: #fff;
}

#sidenav-overlay {
  z-index: 100;
}
