body {
  background: #eee !important;
}

.login-container {
  margin: 100px auto;
}

.loader {
  top :250px;
  left: 50%;
  z-index: 99999;
}

.modal-overlay {
  z-index: 1002;
  display: block;
  opacity: 0.6;
  background: #eee;
}
